<h1>Nova filial</h1>

<%= form_for @subsidiary do |f| %>
  <div class="form-group row">
    <%= f.label :name, 'Nome', class:"col-sm-1" %>
    <%= f.text_field :name, class:"form-control col-sm-10" %>
  </div>
    <div class="form-group row">
    <%= f.label :cnpj, 'CNPJ', class:"col-sm-1" %>
    <%= f.text_field :cnpj, class:"form-control col-sm-10" %>
  </div>
    <div class="form-group row">
    <%= f.label :address, 'Endereço', class:"col-sm-1" %>
    <%= f.text_field :address, class:"form-control col-sm-10" %>
  </div>
  <div class="form-group row">
    <div class="col-sm-5">
        <%= f.submit 'Salvar', class: "btn btn-dark" %>
    </div>
  </div>
<% end %>

<%= link_to 'Voltar', subsidiaries_path, class:"btn btn-outline-dark etc-pdn-horz" %>