<h2 class="etc-pdn-vert">Locação</h2>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Cliente</th>
      <th scope="col">Email do cliente</th>
      <th scope="col">CPF do cliente</th>
      <th scope="col">Data Inicial</th>
      <th scope="col">Data Final</th>
      <th scope="col">Categoria</th>
      <th scope="col">Criado por</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><%= @rental.code %></td>
        <td><%= @rental.client.name %></td>
        <td><%= @rental.client.email %></td>
        <td><%= @rental.client.cpf %></td>
        <td><%= @rental.start_date.strftime('%d/%m/%Y')  %></td>
        <td><%= @rental.end_date.strftime('%d/%m/%Y')  %></td>
        <td><%= @rental.car_category.name %></td>
        <td><%= @rental.user.email %></td>
    </tr>
  </tbody>
</table>


<div class="col-sm-5 etc-pdn-top">
    <%= link_to 'Efetivar locação', start_rental_path(id: @rental.id), class:"btn btn-success" %>
    <%= link_to 'Apagar', rental_path(@rental), method: :delete, class: "btn btn-danger", data: { confirm: 'Quer apagar este fabricante?' } %>
    <%= link_to 'Voltar', rentals_path, class:"btn btn-outline-dark etc-pdn-horz" %>
</div>
