<h2 class="etc-pdn-vert">Locações Efetivadas</h2>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Diária</th>
      <th scope="col">Modelo</th>
      <th scope="col">Placa</th>
      <th scope="col">Cor</th>
      <th scope="col">Acessório</th>
      <th scope="col">Km inicial</th>
    </tr>
  </thead>
  <tbody>
    <% @car_rentals.each do |car_rental|  %>
        <tr>
            <td><%= link_to car_rental.rental.code, car_rental_path(car_rental.id), class:"text-dark" %></td>
            <td><%= car_rental.price %></td>
            <td><%= car_rental.car.car_model.name %></td>
            <td><%= car_rental.car.license_plate %></td>
            <td><%= car_rental.car.color %></td>
            <td>
              <% if car_rental.accessory.name != 'Escolha um acessório..' %>
                <%= car_rental.accessory.name %>
              <% end %>
            </td>
            <td><%= car_rental.start_mileage %></td>
        </tr>
    <% end %>
  </tbody>
</table>



<%= link_to 'Voltar', root_path, class:"btn btn-outline-dark etc-pdn-horz" %>