<h2 class="etc-pdn-vert">Locação Efetivada</h2>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Código</th>
      <th scope="col">Diária</th>
      <th scope="col">Fabricante</th>
      <th scope="col">Modelo</th>
      <th scope="col">Placa</th>
      <th scope="col">Cor</th>
      <th scope="col">Acessório</th>
      <th scope="col">Quilometragem inicial</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><%= @car_rental.rental.code %></td>
        <td><%= @car_rental.price %></td>
        <td><%= @car_rental.car.car_model.manufacturer.name %></td>
        <td><%= @car_rental.car.car_model.name %></td>
        <td><%= @car_rental.car.license_plate %></td>
        <td><%= @car_rental.car.color %></td>
        <td>
          <% if @car_rental.accessory.name != 'Escolha um acessório..' %>
            <%= @car_rental.accessory.name %>
          <% end %>
        </td>
        <td><%= @car_rental.start_mileage %> mil Km.</td>
    </tr>
  </tbody>
</table>




<%= link_to 'Voltar', rentals_path, class:"btn btn-outline-dark etc-pdn-show" %>
