<h2 class="etc-pdn-vert">Editar fabricante</h2>

<%= form_for @manufacturer do |f| %>
  <div class="form-group row">
    <%= f.label :name, 'Nome:', class:"col-sm-1" %>
    <%= f.text_field :name, class:"form-control col-sm-10" %>
  </div>
  <div class="form-group row">
    <div class="col-sm-5">
        <%= f.submit 'Salvar', class: "btn btn-dark" %>
    </div>
  </div>
<% end %>

<div class="col-sm-10">
    <% if @manufacturer.errors.any?%>
        <p>Você deve corrigir os erros para continuar:</p>
        
        <% @manufacturer.errors.full_messages.each do |message|  %>
            <p><%= message %></p>
        <% end %>
    <% end %>
</div>

<%= link_to 'Voltar', manufacturers_path, class:"btn btn-outline-dark etc-pdn-horz" %>