<h2 class="etc-pdn-vert">Acessório</h2>



<table class="table">
  <% if @accessory.picture.attached? %>
    <image class="col-sm-3 etc-pdn-vert-botton" src="<%=(url_for(@accessory.picture))%>">
  <% end %>
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Descrição</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @accessory.name %></td>
      <td><%= @accessory.full_description %></td>
      <td><%= @accessory.price %></td>
    </tr>
  </tbody>
</table>

<div class="col-sm-5 etc-pdn-top">
    <%= link_to 'Voltar', accessories_path, class:"btn btn-outline-dark" %>
</div>