<!DOCTYPE html>
<html>
  <head>
    <title>Rental Cars</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <ul>
        <% if user_signed_in? %>
          <li><span>Olá, <%= current_user.email %></span></li>
          <li><%= link_to 'Sair', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Entrar', new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>